<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.ico">
    <title>SafeTube</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>SafeTube</h1>
        <form action="/" method="post">
            <label for="input_link">Enter YouTube link:</label>
            <input type="text" id="input_link" name="input_link" placeholder="https://www.youtube.com/watch?v=..." required>
            <br><br>
            <button type="submit" id="submitBtn">Check</button>
        </form>
        <div id="loadingPopup" class="loading-popup">
            Processing...
        </div>
        <form action="/delete" method="post">
            <button type="submit" id="clearData">Clear Data</button> {{ delete_message }}
        </form>
        <div class="result">
            <p class="result-title">YouTube Link: {{ link }}</p>
        </div>
        <div class="result">
            <p class="result-title">Hate speech in captions:</p>
            <p class="result-value">{{ py_variable_captions }}</p>
        </div>
        <div class="result">
            <p class="result-title">Hate speech in comments:</p>
            <p class="result-value">{{ py_variable_comments }}</p>
        </div>
    </div>
    <script src="static/scripts.js"></script>
</body>
</html>
