body {
    font-family: Candara;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url('../static/images/background.jpg'); /* Update path to your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 50vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(15, 188, 211, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:hover {
    border-color: #000000; /* Slightly darker color on hover */
}

button[type="submit"] {
    font-family: Candara;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #000000, #999999); /* Two-color gradient */
    color: #ffffff; /* Text color is white */
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.5s, transform 0.2s;
}

button[type="submit"]:hover {
    background-image: linear-gradient(to right, #999999, #000000); /* Darker gradient on hover */
    opacity: 0.9; /* Slightly reduce opacity on hover */
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.result-title {
    font-size: 18px;
}

.result-value {
    font-size: 18px;
    margin-top: 10px;
}

.loading-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353535;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.description {
    background-color: #353535;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

iframe {
    border: 2px solid #ffffff;
    border-radius: 10px;
}